# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

pool:
  name: Default

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'mvn test'
  displayName: 'Execute Cucumber Tests'

- powershell: |
   $url = 'https://pulse-13.qtestnet.com/webhook/8896f11a-1dbe-4c1e-b30f-4201ef833d4c'
   
   $content = Get-Content "C:\qTest_Automation_1\OpenSourceFrameWorks\cucumber_java-main\target\cucumber-report.json" -Raw
   $bytes = [System.Text.Encoding]::ASCII.GetBytes($content)
   $payload = [System.Convert]::ToBase64String($bytes)
   
   $body = @{
    'projectId' = '5413'
    'testcycle' = '22835'
    'result' = $payload
   }
   
   [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
   Invoke-RestMethod -Body $body -Method 'Post' -Uri $url
  displayName: 'Upload Results to qTest Pulse'